html,
body {
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	margin: 0;
	color: black;
}

.header {
	min-height: 100px;
	background-color: #072146;
	color: #fff;
}
.logos {
	font-size: 1.2rem;
	min-height: 100px;
	padding: 10px;
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-app {
	font-weight: 700;
	color: lightskyblue;
}
.hero {
	background-color: #fff;
	min-height: 100vh;
}

.grey {
	min-height: 200px;
	background-color: lightgray;
}
.definition {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	max-width: 70%;
	margin: 0 auto;
}

.form-pyme-container {
	max-width: 90%;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 10px;
}

.text-form {
	text-align: justify;
}

.container {
	min-height: 60vh;
	min-width: 100%;
	padding: 0 20px 10px;
	border-radius: 1em;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: left;
	margin-bottom: 3rem;
}
.text {
	text-align: justify;
	margin-bottom: 5rem;
}

.link {
	color: black;
}

.link1 {
	color: #fff;
	font-weight: 700;
	font-size: 1.5rem;
}
.btn-container {
	background-color: rgb(2, 132, 132);
	color: #fff;
	max-width: 300px;
	min-height: 50px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	transition: all 0.5s;
	cursor: pointer;
}

.btn-container:hover {
	background-color: rgb(45, 204, 205);
}

.btn-text {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 1.5rem 2rem;
}

.form {
	margin: 0 auto;
	padding: 1em;
}

.form-list {
	list-style: none;
	padding-inline-start: 0;
	width: 100%;
}

.item {
	margin: 15px 0;
	width: 100%;
}

.btn-submit {
	border: none;
	background-color: rgb(2, 132, 132);
	color: #fff;
	min-width: 300px;
	min-height: 50px;
	border-radius: 4px;
	transition: all 0.5s;
	cursor: pointer;
}

.btn-submit:hover {
	background-color: rgb(45, 204, 205);
}

.footer {
	min-height: 100px;
	background-color: #072146;
	color: #fff;
}
