html,
body {
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	margin: 0;
	color: #fff;
}

.header {
	min-height: 100px;
	background-color: #072146;
}
.logos {
	font-size: 1.2rem;
	min-height: 100px;
	padding: 10px;
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero {
	background-color: #033263;
	min-height: 100vh;
	/* font-size: 1.4rem; */
}

.definition {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	max-width: 70%;

	margin: 0 auto;
}

.container {
	min-height: 60vh;
	min-width: 100%;
	background-color: #072146;
	padding: 0 20px 10px;
	border-radius: 1em;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 3rem;
	color: #f8cd51;
}
.text {
	text-align: justify;
	margin-bottom: 5rem;
}

.link {
	color: #ffffff;
}

.btn-container {
	background-color: rgb(2, 132, 132);
	color: #fff;
	max-width: 300px;
	min-height: 50px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	transition: all 0.5s;
	cursor: pointer;
}

.btn-container:hover {
	background-color: rgb(45, 204, 205);
}

.btn-text {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 1.5rem 2rem;
}

.form {
	margin: 0 auto;
	padding: 1em;
}

.form-list {
	list-style: none;
	padding-inline-start: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item {
	margin: 15px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-submit {
	border: none;
	background-color: rgb(2, 132, 132);
	color: #fff;
	max-width: 300px;
	min-height: 50px;
	border-radius: 4px;
	transition: all 0.5s;
	cursor: pointer;
}

.btn-submit:hover {
	background-color: rgb(45, 204, 205);
}
