<!DOCTYPE html>
<html lang="en">
	{% load static %}
	{% csrf_token %}

	<head>
		<meta charset="UTF-8" />
		<title>UPrint from BBVA</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'estilos/estilos.css' %}"
		/>
	</head>
	<body class="body">
		<header class="header">
			<div class="logos">
				<div class="logo-bbva">BBVA</div>
				<div class="logo-ours">Pyladies Force One</div>
			</div>
		</header>
		<section class="hero">
			<div class="definition">
				<div class="container">
					<div class="title">
						<h1>¿Qué es la huella verde?</h1>
					</div>
					<div class="text">
						<p>
							¿Quieres ayudarnos a cumplir con los objetivos del
							<a
								class="link"
								href="https://www.sostenibilidad.com/cambio-climatico/acuerdo-de-paris-en-que-consiste/?gclid=CjwKCAjwz6_8BRBkEiwA3p02VXUWzHsECOs96f8wrQPLvnho-0bosRFwkBP-ejzhIbRpaGH3Tm0L5RoCCU8QAvD_BwE"
								>Acuerdo de París sobre cambio climático</a
							>? En BBVA apostamos por la sostenibilidad y queremos ayudarte a
							que tú también puedas contribuir desde tu negocio. Solo tenemos un
							planeta y tenemos que cuidarlo.
						</p>
						<p>
							¿Cómo puedes contribuir? Reduciendo las emisiones de carbono, lo
							que en BBVA llamamos la huella verde. BBVA te proporciona una
							metodología para medirla en unos minutos con tus datos de consumo
							energético.
						</p>
						<p>
							Además BBVA, te ofrece bonificaciones en el tipo de interés si
							demuestras que consigues reducir tu huella con nuestra
							financiación.
						</p>
						<p>¿Te subes al tren de la sostenibilidad? ¡Vamos a ello!</p>
					</div>
					<div class="btn-container">
						<a class="link btn-text" href="calcula-tu-huella"
							>Calcula tu huella verde</a
						>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
