<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Title</title>
	</head>
	<body class="body">
		<header class="header">
			<div class="logos">
				<div class="logo-bbva">BBVA</div>
				<div class="logo-ours">Pyladies Force One</div>
			</div>
		</header>
		<section class="hero">
			<div class="definition">
				<div class="container">
					<div class="title">
						<h1>Resultados</h1>
					</div>
					<div class="resultados">
						<p>Tu huella de carbono es:</p>
						<p>{{resultado}}</p>
					</div>
					<div class="text">
						<p>
							Como cliente del banco, BBVA quiere acompañarte en el camino hacia
							una economía sostenible y baja en carbono. Queremos que seas,
							junto con nosotros, catalizador del cambio.
						</p>
						<p>
							La mentalidad de los consumidores ha sufrido una transformación en
							los últimos años y la sostenibilidad es, a día de hoy, un factor
							competitivo ineludible para las empresas. Entiende los
							<a
								class="link"
								href="https://www.un.org/sustainabledevelopment/es/"
								>objetivos de desarrollo sostenible</a
							>, define prioridades, integralos en tu empresa y, finalmente,
							informa y comunica el progreso de la implementación.
						</p>
						<p>
							Hay muchas cosas que puedes hacer. Si necesitas más información
							útil que te ayude a gestionar el cambio hacia una organización
							sostenible, no dudes en contactar con nosotros.
						</p>
						<p>Aquí te dejamos algunas sugerencias:</p>

						<ul>
							<li>Priorizar la eficiencia energética en todos los procesos.</li>
							<li>Integrar certificaciones de eficiencia energética.</li>
							<li>
								Realizar un seguimiento del ciclo de vida de los productos y
								materiales para comprender cómo se eliminan.
							</li>
							<li>
								Trabajar con proveedores y terceras partes sostenibles, propias
								de la cadena de suministro.
							</li>
							<li>Fomentar el consumo de proximidad.</li>
							<li>
								Cumplir con las leyes y con los estándares internacionales y
								apoyar a los socios comerciales para que hagan lo mismo.
							</li>
							<li>
								Ser transparente y comunicar las acciones responsables y
								sostenibles.
							</li>
							<li>
								Establecer y hacer cumplir políticas estrictas para evitar la
								discriminación.
							</li>
							<li>Formar y emplear a miembros de la comunidad local.</li>
							<li>Ofrecer beneficios sociales y de salud a los empleados.</li>
							<li>
								Crear programas para facilitar a los estudiantes el acceso al
								mercado laboral.
							</li>
							<li>
								Proporcionar a los empleados oportunidades continuas para
								mejorar sus habilidades laborales para su empleo actual y
								futuro.
							</li>
							<li>
								Establecer una política de tolerancia cero hacia todas las
								formas de violencia en el trabajo, incluido el abuso verbal y /
								o físico.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
